<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页_肖誉个人博客 </title>
<!--反向解析写法-->
  <link href="{{ url_for('static',filename='css/base.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/index.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/m.css')}}" rel="stylesheet">


  <script src="{{ url_for('static',filename='js/jquery.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='js/jquery.easyfader.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='js/scrollReveal.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='js/common.js')}}" type="text/javascript"></script>
</head>
<body>
<header> 
  <!--menu begin-->
  <div class="menu">
    <nav class="nav" id="topnav">
      <h1 class="logo"><a href="{{ url_for('first.shouye')}}">肖誉的个人二次元</a></h1>
      <li><a href="{{ url_for('first.shouye')}}">网站首页</a> </li>
      <li><a href="{{ url_for('first.one')}}">国产</a> </li>
      <li><a href="{{ url_for('first.two')}}">地区</a>
        <ul class="sub-nav">
          <li><a href="share">中国</a></li>
          <li><a href="share">日本</a></li>
          <li><a href="share">欧美</a></li>
        </ul>
      </li>
      <li><a href="{{ url_for('first.three')}}">类型</a>
        <ul class="sub-nav">
          <li><a href="list.html">恋爱</a></li>
          <li><a href="list.html">热血</a></li>
          <li><a href="list.html">治愈</a></li>
          <li><a href="list.html">日常</a></li>
          <li><a href="list.html">搞笑</a></li>
        </ul>
      </li>
      <li><a href="{{ url_for('first.four')}}">番剧</a>
        <ul class="sub-nav">
          <li><a href="life.html">2017年4月新番</a></li>
          <li><a href="life.html">2017年10月新番</a></li>
          <li><a href="life.html">2017年12月新番</a></li>
          <li><a href="life.html">2018年2月新番</a></li>
        </ul>
       <li><a href="{{ url_for('first.five')}}">个人认为的神作</a> </li>
      <li><a href="{{ url_for('first.six')}}">留言</a> </li>
      <li><a href="{{ url_for('first.server')}}">内容</a> </li>


    </nav>
  </div>

</header>
<article> 
  <!--banner begin-->
 <div class="picsbox"> 
  <div class="banner">
    <div id="banner" class="fader">
      <li class="slide" ><a href="/" target="_blank"><img src="../static/images/hy.jpg"><span class="imginfo">火影忍者</span></a></li>
      <li class="slide" ><a href="/" target="_blank"><img src="../static/images/海贼.jpg"><span class="imginfo">航海王</span></a></li>
      <li class="slide" ><a href="/" target="_blank"><img src="../static/images/kn.jpg"><span class="imginfo">名侦探柯南</span></a></li>
      <li class="slide" ><a href="/" target="_blank"><img src="../static/images/yj.jpg"><span class="imginfo">妖精的尾巴</span></a></li>
      <div class="fader_controls">
        <div class="page prev" data-target="prev">&lsaquo;</div>
        <div class="page next" data-target="next">&rsaquo;</div>
        <ul class="pager_list">
        </ul>
      </div>
    </div>
  </div>
  <!--banner end-->
  <div class="toppic">
    <li> <a href="/" target="_blank"> <i><img src="{{ url_for('static',filename='images/cw.jpg')}}"></i>
      <h2>樱花庄的宠物女孩</h2></a> </li>
      <!--<span></span> -->
    <li> <a href="/" target="_blank"> <i><img src="{{ url_for('static',filename='images/sy.jpg')}}"></i>
      <h2>四月是你的谎言</h2></a> </li>
      <!--<span>学无止境</span> -->
  </div>
  </div>
  <div class="blank"></div>
  <!--blogsbox begin-->
  <div class="blogsbox">
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">刀剑神域第一季</a></h3>
      <span class="blogpic"><a href="/" title=""><img src="{{ url_for('static',filename='images/dj.jpg')}}" alt=""></a></span>
      <p class="blogtext">这是我的入宅作，记得当时好像才初3吧...</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{{ url_for('first.shouye')}}">肖誉</a></li>
          <li class="lmname"><a href="{{ url_for('first.shouye')}}">一场关于生死的游戏</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{{ url_for('first.shouye')}}" target="_blank"><img src="{{ url_for('static',filename='images/fate1.jpg')}}" alt="">Fate/stay night</a></h3>
      <p class="blogtext">一场圣杯之战就此开始...</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{{ url_for('first.shouye')}}">肖誉</a></li>
          <li class="lmname"><a href="{{ url_for('first.shouye')}}">一场关于荣耀的决战</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view">4567已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{{ url_for('first.shouye')}}" target="_blank">我的英雄学院</a></h3>
      <span class="bplist"><a href="{{ url_for('first.shouye')}}" title="">
      <li><img src="{{ url_for('static',filename='images/yx.jpg')}}" alt=""></li>
      <li><img src="{{ url_for('static',filename='images/yx1.png')}}" alt=""></li>
      <li><img src="{{ url_for('static',filename='images/yx2.png')}}" alt=""></li>
      </a></span>
      <p class="blogtext">这一刻，你就是英雄！！！ </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">肖誉</a></li>
          <li class="lmname"><a href="/">什么才是英雄？</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{{ url_for('first.shouye')}}" target="_blank">哆啦a梦</a></h3>
      <span class="bigpic"><a href="{{ url_for('first.shouye')}}" title=""><img src="{{ url_for('static',filename='images/dl.jpg')}}" alt=""></a></span>
      <p class="blogtext">谁不想要个蓝胖子呢... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{{ url_for('first.shouye')}}">肖誉</a></li>
          <li class="lmname"><a href="{{ url_for('first.shouye')}}">蓝胖子</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
     <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{{ url_for('first.shouye')}}" target="_blank">Another</a></h3>
      <span class="bigpic"><a href="{{ url_for('first.shouye')}}" title=""><img src="{{ url_for('static',filename='images/another.jpg')}}" alt=""></a></span>
      <p class="blogtext">强烈推荐：Another </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{{ url_for('first.shouye')}}">肖誉</a></li>
          <li class="lmname"><a href="{{ url_for('first.shouye')}}">蓝胖子</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
     <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{{ url_for('first.shouye')}}" target="_blank">哆啦a梦</a></h3>
      <span class="bigpic"><a href="{{ url_for('first.shouye')}}" title=""><img src="{{ url_for('static',filename='images/dl.jpg')}}" alt=""></a></span>
      <p class="blogtext">谁不想要个蓝胖子呢... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{{ url_for('first.shouye')}}">肖誉</a></li>
          <li class="lmname"><a href="{{ url_for('first.shouye')}}">蓝胖子</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>






  </div>
  <!--blogsbox end-->
  <div class="sidebar">
    <div class="zhuanti">
      <h2 class="hometitle">特别推荐</h2>
      <ul>
        <li> <i><img src="{{ url_for('static',filename='images/jj.jpg')}}"></i>
          <p>进击的巨人<span><a href="/">阅读</a></span> </p>
        </li>
        <li> <i><img src="{{ url_for('static',filename='images/another.jpg')}}"></i>
          <p>Another <span><a href="/">阅读</a></span></p>
        </li>
        <li> <i><img src="{{ url_for('static',filename='images/another1.jpg')}}"></i>
          <p>Another <span><a href="/">阅读</a></span></p>
        </li>
      </ul>
    </div>
    <div class="tuijian">
      <h2 class="hometitle">推荐文章</h2>
      <ul class="tjpic">
        <i><img src="{{ url_for('static',filename='images/another.jpg')}}"></i>
        <p><a href="/">有点恐怖，血腥</a></p>
      </ul>
      <ul class="sidenews">
        <li> <i><img src="{{ url_for('static',filename='images/another1.jpg')}}"></i>
          <p><a href="/">邓文新打游戏真tm想蔡徐坤！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="{{ url_for('static',filename='images/another1.jpg')}}"></i>
          <p><a href="/">杨岩打游戏真tm想蔡徐坤！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="{{ url_for('static',filename='images/another1.jpg')}}"></i>
          <p><a href="/">熊慧杨打游戏真tm想蔡徐坤！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="{{ url_for('static',filename='images/another1.jpg')}}"></i>
          <p><a href="/">上面三个渣渣！</a></p>
          <span>2018-05-13</span> </li>
      </ul>
    </div>
    <div class="tuijian">
      <h2 class="hometitle">动漫排行</h2>
      <ul class="tjpic">
        <i><img src="{{ url_for('static',filename='images/hy.jpg')}}"></i>
        <p><a href="/">火影忍者</a></p>
      </ul>
      <ul class="sidenews">
        <li> <i><img src="{{ url_for('static',filename='images/hy.jpg')}}"></i>
          <p><a href="/">火影忍者</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="{{ url_for('static',filename='images/hy.jpg')}}"></i>
          <p><a href="/">火影忍者</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="{{ url_for('static',filename='images/hy.jpg')}}"></i>
          <p><a href="/">火影忍者</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="{{ url_for('static',filename='images/hy.jpg')}}"></i>
          <p><a href="/">火影忍者</a></p>
          <span>2018-05-13</span> </li>
      </ul>
    </div>
    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        <a href="/">陌上花开</a> <a href="/">校园生活</a> <a href="/">html5</a> <a href="/">SumSung</a> <a href="/">青春</a> <a href="/">温暖</a> <a href="/">阳光</a> <a href="/">三星</a><a href="/">索尼</a> <a href="/">华维荣耀</a> <a href="/">三星</a> <a href="/">索尼</a>
      </ul>
    </div>
    <div class="links">
      <h2 class="hometitle">友情链接</h2>
      <ul>
        <li><a href="http://www.yangqq.com" target="_blank">肖誉博客</a></li>
        <li><a href="http://www.yangqq.com" target="_blank">设计师博客</a></li>
        <li><a href="http://www.yangqq.com" target="_blank">优秀个人博客</a></li>
      </ul>
    </div>
    <div class="guanzhu" id="follow-us">
      <h2 class="hometitle">关注我们 么么哒！</h2>
      <ul>
        <li class="sina"><a href="/" target="_blank"><span>新浪微博</span>肖誉博客</a></li>
        <li class="tencent"><a href="/" target="_blank"><span>腾讯微博</span>肖誉博客</a></li>
        <li class="qq"><a href="/" target="_blank"><span>QQ号</span>1803352740</a></li>
        <li class="email"><a href="/" target="_blank"><span>邮箱帐号</span>1803352740@qq.com</a></li>
        <li class="wxgzh"><a href="/" target="_blank"><span>微信号</span>1803352740</a></li>

      </ul>
    </div>
  </div>
</article>
<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
