{% extends 'base_main.html' %}

{% block title %}
    我的订单
{% endblock %}

    {% block body %}
	<div class="search_bar clearfix">
		<a href="{% url 'user:index' %}" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:UserCenter' %}"> · 个人信息</a></li>
				<li><a href="{% url 'goods:index' %}" class="active">· 全部订单</a></li>
				<li><a href="{% url 'order:index' %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				<ul class="order_list_th w978 clearfix">
					<li class="col01">2016-8-21 17:36:24</li>
					<li class="col02">订单号：56872934</li>
					<li class="col02 stress">未支付</li>		
				</ul>




				<table class="order_list_table w980">
					<tbody>

                        {% for user in users %}
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">
									<li class="col01"><img src='/{{ user.goods_front_image }}'></li>
									<li class="col02">嘎啦苹果嘎啦苹果<em>11.80元/500g</em></li>
									<li class="col03">1</li>
									<li class="col04">11.80元</li>
								</ul>

							</td>
							<td width="15%">33.60元</td>
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
						</tr>
                        {% endfor %}
					</tbody>
				</table>

				<ul class="order_list_th w978 clearfix">
					<li class="col01">2016-8-21 17:36:24</li>
					<li class="col02">订单号：56872934</li>
					<li class="col02 stress">已支付</li>
				</ul>

                    <table class="order_list_table w980">
					<tbody>

                        {% for user in users %}
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">
									<li class="col01"><img src='/{{ user.goods_front_image }}'></li>
									<li class="col02">嘎啦苹果嘎啦苹果<em>11.80元/500g</em></li>
									<li class="col03">1</li>
									<li class="col04">11.80元</li>
								</ul>

							</td>
							<td width="15%">33.60元</td>
							<td width="15%">已付款</td>
							<td width="15%"><a href="#" class="oper_btn">评价</a></td>
						</tr>
                        {% endfor %}
					</tbody>
				</table>


				<div class="pagenation">
                    {% if users.has_previous%}
					<a href="{% url 'goods:index' %}?page={{ users.previous_page_number }}">上一页</a>
                    {% endif %}

                    {% for i in users.paginator.page_range %}
                        <a href="{% url 'goods:index' %}?page={{ i }}"  class="active">{{ i }}</a>
                    {% endfor %}

                    {% if users.has_next %}
					    <a href="{% url 'goods:index' %}?page={{ users.next_page_number }}">下一页</a>
                    {% endif %}
				</div>
		</div>
	</div>
    {% endblock %}


